<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	<h3><i class="fa fa-angle-right"></i> Contacto de negocio</h3>		
	<div class="row mt">
	    <div class="col-md-12">
	        <section class="task-panel tasks-widget">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-md-6">
	                        <h4>Los contactos s&oacute;lo se pueden ver y eliminar.</h4>
	                    </div>
	                </div>
	            </div>
	            <div class="panel-body">
	                <div class="task-content">
	                    <ul class="task-list" id="lstMuestra">
	                    	<li th:each="contactoneg,item : ${contactonegs}">
						        <div class="task-title">
						            <span class="task-title-sp" th:text="${contactoneg.fecha} + ' - ' + ${contactoneg.idNegocio.nombre} + ' ==> ' +${contactoneg.idNegocio.idUser.apellidos}"></span>
						            <div class="pull-right hidden-phone">
						                <a th:href="@{javascript: getModal('datosm__${item.index}__');}" data-toggle='modal' th:data-target="'#mensajemd'+${item.index}" class="btn btn-success btn-xs"><i class=" fa fa-check"></i></a>
						                <a th:onclick="@{cambiaventanaacciones('get','delete','formulariocrud','/admins/negocios/contacto_neg','1','__${contactoneg.idComentario}__');}" data-toggle='modal' data-target='#ContactNeg' class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
						                
						                <div class="modal fade modal-success" th:id="'mensajemd'+${item.index}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						                    <div class="modal-dialog" role="document">
						                        <div class="modal-content">
						                            <div class="modal-header">
						                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						                                <h4 class="modal-title" id="myModalLabel">Contacto de negocios</h4>
						                            </div>
						                            <div class="modal-body">
						                                <div class="gettamodal" th:id="'datosm'+${item.index}">
						                                    <strong>Comentario: </strong><span th:text="${contactoneg.comentario}"></span><br/>
						                                    <strong>Fecha: </strong><span th:text="${contactoneg.fecha}"></span><br/>
						                                    <strong>Hecha por: </strong><span th:text="${contactoneg.idNegocio.idUser.nic}"></span><br/>
						                                    <strong>Negocio: </strong><span th:text="${contactoneg.idNegocio.nombre}"></span><br/>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </li>
	                    </ul>
	                    <div id="datosmuestraM"></div>
	                    <div id="cargaProcesoMens"></div>
	                </div>
	            </div>
	        </section>
	    </div>
	</div>
	<div class="modal fade modal-danger" id="ContactNeg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="myModalLabel">Notas</h4>
	            </div>
	            <div id="formulariocrud"></div>
	        </div>
	    </div>
	</div>
</html>