<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	<meta charset="utf-8">
	<title>Guissa | Eventos</title>
	<head th:replace="views/includes/head :: head"></head>
	<body>
		<div class="wrap-body">
			<div th:replace="views/includes/top :: top"></div>
			<section id="container" class="sub-page">
				<div class="wrap-container zerogrid">
					<div class="crumbs">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="eventos.php">Eventos</a></li>
						</ul>
					</div>
					<div id="main-content" class="col-2-3">
						<div class="wrap-content">
	                            <div class="form-group">
	                                <input name="boxBuscar" type="text" style="display:block;width:100%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#000;	border:1px solid #654e2d;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;" placeholder="Negocio, Producto, Dirección, Estado o Municipio" id="boxBuscar"/>
	                            </div>
	                            <hr>
                                    <%
                                        for(int i = 0; i < listareve.size(); i++ ) {
                                            byte[] photo = listareve.get(i).getIdImagen().getImagen();
                                            String bphoto = Base64.getEncoder().encodeToString(photo);
                                    %>
                                    <article>
						<div class="art-header">
                                                    <a href="#"><h3><%= listareve.get(i).getNombre() %></h3></a>
							<div class="info">
                                                            Posteado por <%= listareve.get(i).getIdUser().getNic() %> en: <%= listareve.get(i).getIdMunicipio().getNombreMun() %> <a href="#"><%= listareve.get(i).getFechaI() %></a>
                                                        </div>
						</div>
						<div class="art-content">
                                                    <img src='data:image/png;base64,<%= bphoto %>' title='<%= listareve.get(i).getIdImagen().getNombre() %>' class='img-responsive' alt='Blog image'>
                                                    <p><%= listareve.get(i).getDescripcion() %>...</p>
						</div>
						<a class="button button02" href="eventos?accion=previa&id=<%= listareve.get(i).getIdEvento() %>">Ver más</a>
                                    </article>
                                    <% } %>
						</div>
					</div>
					<div id="sidebar" class="col-1-3">
						<div class="wrap-sidebar">
							<div class="widget wid-post">
								<div class="wid-header">
									<h5>Eventos recientes</h5>
								</div>
								<div class="wid-content">
									<% 
                                                                        for(int i = 0 ; i < listaevento.size(); i++ ){ 
                                                                            byte[] photore = listaevento.get(i).getIdImagen().getImagen();
                                                                            String bphotore = Base64.getEncoder().encodeToString(photore);
                                                                    %>
                                                                    <div class="post">
                                                                        <a href="eventos?accion=previa&id=<%= listaevento.get(i).getIdEvento() %>"><img src="data:image/png;base64,<%= bphotore %>"/></a>
                                                                            <div class="wrapper">
                                                                                    <h5><a href="eventos?accion=previa&id=<%= listaevento.get(i).getIdEvento() %>"><%= listaevento.get(i).getNombre() %></a></h5>
                                                                            </div>
                                                                    </div>
                                                                    <% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<footer th:replace="views/includes/footer :: footer"></footer>
			<div th:replace="views/includes/script :: script"></div>
			<script type="text/javascript" th:src="@{/principal/js/validacion.js}"></script>
			<script type="text/javascript">
				function ventanaSecundaria(URL) {
					window.open(URL, "Compartir",
							"width=620,height=400,scrollbars=NO")
				}
			</script>			
		</div>
	</body>
</html>