<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	<meta charset="utf-8">
	<title>Guissa | Historias</title>
	<head th:replace="views/includes/head :: head"></head>
	<head>
		<script type="text/javascript" th:src="@{/principal/ckeditor_sta/ckeditor.js}"></script>
	</head>
    <body>
		<div class="wrap-body">
			<div th:replace="views/includes/top :: top"></div>
			<section id="container" class="sub-page">
				<div class="wrap-container zerogrid">
                    <div class="crumbs">
						<ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                            <li><a href="#">Historia</a></li>
						</ul>
                    </div>
                    <div id="main-content">
						<div class="wrap-content">
                            <div class="row">
								<div>
									<div class="wrap-col">
										<div class="contact">
											<div id="contact_form">
												<form name="nhistoria" id="nhistoria" method="post">
	                                                    <div class="row">
	                                                        <div class="col-md-6">
	                                                            <div class="form-group">
	                                                                <label>Nombre del autor</label>
	                                                                <input type="text" name="strNombreAN" id="strNombreAN" class="form-control">
	                                                                <div class="capaerrores" id="NombACont">Debes de ingresar tu nombre</div>
	                                                            </div>
	                                                            <div class="form-group">
	                                                                <label>Nombre del producto</label>
	                                                                <input type="text" name="strNombreN" id="strNombreN" class="form-control">
	                                                                <div class="capaerrores" id="NombCont">Has olvidado el nombre</div>
	                                                            </div>
	                                                            <div class="form-group">
	                                                                <label>Tipo de producto</label>
	                                                                <input type="text" name="strTipoN" id="strTipoN" class="form-control">
	                                                                <div class="capaerrores" id="TipoCont">Has olvidado el tipo de producto</div>
	                                                            </div>
	                                                            <div class="form-group">
	                                                                <label>Temporada</label>
	                                                                <input type="text" name="strTemporadaN" id="strTemporadaN" class="form-control">
	                                                                <div class="capaerrores" id="TempoCont">Has olvidado la temporada</div>
	                                                            </div>
	                                                            <div class="form-group">
	                                                                <label>Municipio</label>
	                                                                <input type="text" name="strMunicipioN" id="strMunicipioN" class="form-control">
	                                                                <div class="capaerrores" id="MunicipCont">Has olvidado el municipio</div>
	                                                            </div>
	                                                        </div>
	                                                        <div class="col-md-6">
	                                                            <div class="form-group">
	                                                                <label>Descripción</label>
	                                                                <textarea name="strDescripcionN" required id="strDescripcionN" rows="5" class="form-control"></textarea>
	                                                                <div class="capaerrores" id="DescripCont">Has olvidado la descripción</div>
	                                                                <div class="capaerrores" id="ErrCont"></div>
	                                                                <div class="capaexito" id="ExiCont">Tu historia se a enviado, ahora será verificada y analizada, de ser certera, se publicará en 1 semana a partir de hoy </div>
	                                                            </div>
	                                                            <script>
	                                                                CKEDITOR.config.entities = false;
	                                                                CKEDITOR.replace( 'strDescripcionN' );
	                                                            </script>
	                                                            <input type="button" id="NevaA" class="sendButton" value="Nueva">
	                                                        </div>
	                                                    </div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
            </section>
            <footer th:replace="views/includes/footer :: footer"></footer>
			<div th:replace="views/includes/script :: script"></div>
			<script type="text/javascript" th:src="@{/principal/js/validacion.js}"></script>
			<script type="text/javascript">
				function ventanaSecundaria(URL) {
					window.open(URL, "Compartir",
							"width=620,height=400,scrollbars=NO")
				}
			</script>
		</div>
    </body>
</html>