<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
        <link id="bootstrap-style" th:href="@{/administrador/css/bootstrap.css}" rel="stylesheet">
        <link th:href="@{/administrador/font-awesome/css/font-awesome.css}" rel="stylesheet" >
        <link th:href="@{/administrador/css/style.css}" rel="stylesheet" >
        <link th:href="@{/administrador/css/style-responsive.css}" rel="stylesheet">
    </head>

    <body>
        <div class="login-page">
            <div class="container">
            	<!--<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">-->
                <form class="form-login" th:action="@{/inlogin}" method="post">
                    <h2 class="form-login-heading">Administrador</h2>
                    <div class="login-wrap">
                        <input type="text" name="usern" id="usern" class="form-control" placeholder="Correo / Usuario" autofocus/>
                        <br>
                        <input type="password" name="passwd" id="passwd" class="form-control" placeholder="**********"/>
                        <label class="checkbox">
                            <span class="pull-right">
                                <a data-toggle="modal" data-target='#forget' >Contraseña olvidada</a>
                            </span>
                        </label>
                        <input name="enter" id="enter" class="btn btn-theme btn-block" type="submit" value="Iniciar"/>
                        <input id="inicioses" onclick="location.href='/';" class="btn btn-theme btn-block" type="button" value="Volver"/>
                        <hr>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade modal-danger" id="forget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" >Contraseña olvidada</h4>
                    </div>
                    <div class="modal-body" role="main">
                        <table class="table">
                            <tr valign="baseline">
                                <td nowrap align="right"></td>
                                <td>
                                    <form id="frmRestablecer">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Restaurar contraseña</div>
                                            <div class="panel-body">
                                                <p></p>
                                                <div class="form-group">
                                                    <label for="email">Escribe el correo asociado para restaurar la contraseña</label>
                                                    <input type="email" id="email" class="form-control" name="email" required />
                                                </div>
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-primary" id="restablece" value="Recuperar contraseña"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="mensaje"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/administrador/js/jquery.js}"></script>
        <script th:src="@{/administrador/js/bootstrap.min.js}"></script>
        <script th:src="@{/administrador/js/jquery.backstretch.min.js}"></script>
        <script>
            $.backstretch("/administrador/img/profile-02.jpg",{speed:500});
        </script>
        <script>
            $("#restablece").click(function(){
               $.ajax({
                  url: "/login/sesion/busca",
                  type:"post",
                  data: $("#frmRestablecer").serializeArray()
               }).done(function(respuesta){
                   $("#mensaje").html(respuesta);
                   $("#email").val("");
               });
            });
        </script>
    </body>
</html>

