<!DOCTYPE html>
	<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
	<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
	<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Guissa | Productos</title>
		<meta name="description" content="Gastronomía Mexicana Recetas Restaurantes Ubicación Noticias">	
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <link rel="shortcut icon" href="<%= request.getContextPath() %>/images/favicon.ico" />
	  	<link rel="stylesheet" href="<%= request.getContextPath() %>/css/zerogrid.css">
		<link rel="stylesheet" href="<%= request.getContextPath() %>/css/style.css">
		<link rel="stylesheet" href="<%= request.getContextPath() %>/css/slide.css">
		<link rel="stylesheet" href="<%= request.getContextPath() %>/css/menu.css">
		<!-- Custom Fonts -->
	    <link href="<%= request.getContextPath() %>/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="<%= request.getContextPath() %>/js/jquery-1.11.3.min.js"></script>
	    <script type="text/javascript" src="<%= request.getContextPath() %>/js/script.js"></script>
		<!--[if lt IE 8]>
	       <div style=' clear: both; text-align:center; position: relative;'>
	         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
	           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
	        </a>
	      </div>
	    <![endif]-->
	    <!--[if lt IE 9]>
			<script src="<%= request.getContextPath() %>/js/html5.js"></script>
			<script src="<%= request.getContextPath() %>/js/css3-mediaqueries.js"></script>
		<![endif]-->
	    
	</head>
	<body>
		<div class="wrap-body">
			<div class="top">
				<div class="zerogrid">
					<ul class="number f-left">
						<li class="mail"><p><a href="<%= request.getContextPath() %>/loginsesion">iniciar sesión</a></p></li>
					</ul>
					<ul class="top-social f-right">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>

			<header>
				<div class="zerogrid">
					<center><div class="logo"><img src="<%= request.getContextPath() %>/images/guissa_17_2.png"></div></center>
				</div>
			</header>
		    <a href="#" class="nav-toggle">+</a>
		    <nav class="cmn-tile-nav">
				<ul class="clearfix">
                    <%@include file="/web/recursos/menu.jsp"  %>
				</ul>
		    </nav>

			<section id="container" class="sub-page">
				<div class="wrap-container zerogrid">
					<div class="crumbs">
						<ul>
							<li><a href="../index.php">Home</a></li>
							<li><a href="noticias.php">Productos</a></li>
						</ul>
					</div>
					<div id="main-content" class="col-2-3">
						<div class="wrap-content">
	                            <div class="form-group">
	                                <input name="boxBuscar" type="text" style="display:block;width:100%;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#000;	border:1px solid #654e2d;padding:13px;margin: 5px 0 25px 0;font-size: 16px;max-height: 45px;" placeholder="Producto, Temporada, Relacionado, Estado o Municipio" id="boxBuscarNoticProd"/>
	                            </div>
	                            <hr>
                                    <div id="busquedamuestraprod"></div>
						</div>
					</div>
					<div id="sidebar" class="col-1-3">
						<div class="wrap-sidebar">

							<div class="widget wid-post">
								<div class="wid-header">
									<h5>Post recientes</h5>
								</div>
								<div class="wid-content">
                                                                    <% for(int i = 0 ; i < productoslist.size(); i++){ %>
                                                                    <div class="post">
                                                                        <a href="<%= request.getContextPath() %>/noticias?accion=previa&id=<%= productoslist.get(i).getIdprod() %>"><img src="<%= request.getContextPath() %>/galeria/<%= productoslist.get(i).getUrlgale() %>"/></a>
                                                                            <div class="wrapper">
                                                                                    <h5><a href="<%= request.getContextPath() %>/noticias?accion=previa&id=<%= productoslist.get(i).getIdprod() %>"><%= productoslist.get(i).getNombreprod() %></a></h5>
                                                                                    <span><%= productoslist.get(i).getFechaprod() %></span>
                                                                            </div>
                                                                    </div>
                                                                    <% } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<footer class="zerogrid">
				<div class="copyright">
					<div class="wrapper">
						Copyright 2015 - <a href="http://www.zerotheme.com" target="_blank" rel="nofollow">Free Html5 Templates</a> Designed by Zerotheme.com
						<ul class="quick-link f-right">
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</footer>

			<script src="<%= request.getContextPath() %>/js/classie.js"></script>
			<script src="<%= request.getContextPath() %>/js/demo.js"></script>
			
		</div>
	</body>
</html>
