<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	<head th:fragment="head">
		<meta name="description" content="Gastronomía Mexicana Recetas Restaurantes Ubicación">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" th:href="@{/principal/images/favicon.ico}">
		<link rel="stylesheet" th:href="@{/principal/css/zerogrid.css}">
		<link rel="stylesheet" th:href="@{/principal/css/style.css}">
		<link rel="stylesheet" th:href="@{/principal/css/slide.css}">
		<link rel="stylesheet" th:href="@{/principal/css/menu.css}">
		
		<link th:href="@{/principal/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		                    UPS!
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script th:src="@{/principal/js/html5.js}"></script>
			<script th:src="@{/principal/js/css3-mediaqueries.js}"></script>
		<![endif]-->
	
		<link rel="stylesheet" th:href="@{/general/alertifyjs/css/alertify.min.css}" />
		<link rel="stylesheet" th:href="@{/general/alertifyjs/css/themes/default.min.css}" />
		<script th:src="@{/general/alertifyjs/alertify.min.js}"></script>
	</head>
</html>