<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	<div th:fragment="script">
		<script type="text/javascript" th:src="@{/principal/js/jquery-1.11.3.min.js}"></script>
		<script type="text/javascript" th:src="@{/principal/js/classie.js}"></script>
		<script type="text/javascript" th:src="@{/principal/js/demo.js}"></script>
		<script type="text/javascript" th:src="@{/principal/js/script.js}"></script>
		<script type="text/javascript" th:src="@{/principal/js/responsiveslides.min.js}"></script>
	</div>
</html>