<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples">
	<head th:fragment="head">
	
		<link rel="shortcut icon" th:href="@{/administrador/images/favicon.ico}" />
        
        <link th:href="@{/general/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/administrador/font-awesome/css/font-awesome.css}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" th:href="@{/administrador/css/zabuto_calendar.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/administrador/js/gritter/css/jquery.gritter.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/administrador/lineicons/style.css}">
        
        <link th:href="@{/administrador/css/style.css}" rel="stylesheet">
        <link th:href="@{/administrador/css/style-responsive.css}" rel="stylesheet">
        
        <script th:src="@{/administrador/js/chart-master/Chart.js}"></script>        
        <script th:src="@{/administrador/js/menu.js}"></script>
        
        <script type="text/javascript" th:src="@{/general/js/jquery-2.1.3.min.js}"></script>
        
        <link rel="stylesheet" th:href="@{/general/js/fancybox-3.0/dist/jquery.fancybox.min.css}" />
        <script th:src="@{/general/js/fancybox-3.0/dist/jquery.fancybox.min.js}"></script>
        
        <link rel="stylesheet" th:href="@{/general/alertifyjs/css/alertify.min.css}" />
        <link rel="stylesheet" th:href="@{/general/alertifyjs/css/themes/default.min.css}" />
        <script th:src="@{/general/alertifyjs/alertify.min.js}"></script>
        
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
</html>